# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/target/
# Local CLI test inputs and outputs
cli_input.txt
cli_full_input.txt
cli_full_output.txt
